button,img{
    height:80px;
    width: 80px;
}
body{
    background-image:url("dance-freddy.gif") ;
    background-size: cover;
    background-position: center;
}
h1{
    color: rgb(255, 255, 255);
}

canvas{
    width: 400px;
    height: 400px;
    background-color: aliceblue;
}